/CaseA.csv
/CaseA.gif
/CaseA.png
/CaseB.csv
/CaseB.gif
/CaseB.png
/CaseC.csv
/CaseC.gif
/CaseC.png
/CaseD.csv
/CaseD.gif
/CaseD.png
/CaseE.csv
/CaseE.gif
/CaseE.png
/CaseF.csv
/CaseF.gif
/CaseF.png
/CaseG.csv
/CaseG.gif
/CaseG.png
/CaseH.csv
/CaseH.gif
/CaseH.png
/CaseI.csv
/CaseI.gif
/CaseI.png
/CaseJ.csv
/CaseJ.gif
/CaseJ.png
/savePlots